In [27]:
# Dependencies
import pandas as pd
#pd.options.mode.chained_assignment = None  # default='warn'
import sqlite3

import json
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

# pull in postgres password
import sys
sys.path.append("C:/Users/laura/bootcamp/")
from api_keys import db_password

# Cleaned ARBNB DF to SQLite

In [28]:
# Store filepath in a variable
ARBNB = "Resources/cleaned_ARBNB.csv"

In [29]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
ARBNB_df = pd.read_csv(ARBNB, encoding="ISO-8859-1")
ARBNB_df.head()

,Unnamed: 0,listing_url,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,...,number_of_reviews_l30d,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,0,https://www.airbnb.com/rooms/12899,within an hour,100.0,100.0,1,0,Concordia,45.56488,-122.63418,...,1,2021-11-30,4.93,4.94,4.98,4.99,4.99,4.93,4.94,4.08
1,1,https://www.airbnb.com/rooms/37676,within a day,100.0,55.0,1,1,Pearl,45.52564,-122.68273,...,1,2021-12-01,4.88,4.86,4.86,4.83,4.77,4.94,4.66,0.91
2,2,https://www.airbnb.com/rooms/41601,within an hour,100.0,100.0,1,1,Roseway,45.54804,-122.58541,...,0,2021-10-13,4.84,4.90,4.90,4.95,4.92,4.67,4.83,1.76
3,4,https://www.airbnb.com/rooms/61893,within an hour,100.0,73.0,1,1,Goose Hollow,45.52258,-122.69955,...,1,2021-12-01,5.00,5.00,5.00,4.93,5.00,5.00,4.93,0.24
4,6,https://www.airbnb.com/rooms/67036,within a day,100.0,0.0,0,1,Sullivan's Gulch,45.53103,-122.64448,...,0,2020-02-27,4.93,5.00,5.00,5.00,5.00,4.79,4.89,0.23

In [30]:
conn = sqlite3.connect("airbnb.db")

In [31]:
# create_sql="CREATE TABLE IF NOT EXISTS airbnb (host_response_rate FLOAT, host_is_superhost INTEGER)"
# cursor=conn.cursor()
# cursor.execute(create_sql)
ARBNB_df.to_sql(name="airbnb",con=conn, if_exists="replace", index=False)

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

# Cleaned Neighborhood DF to SQLite

In [32]:
# Store filepath in a variable
neighborhood = "Resources/Portland_Zip_and_Neighborhood.csv"

In [33]:
neighborhood_df = pd.read_csv(neighborhood, encoding="ISO-8859-1")
neighborhood_df.head()

   Zip_Code  Neighborhood_Name
0     97212            Alameda
1     97217        Arbor Lodge
2     97222          Ardenwald
3     97230              Argay
4     97201  Arlington Heights

In [34]:
conn = sqlite3.connect("neighborhood.db")

In [35]:
# cursor.execute(create_sql)
ARBNB_df.to_sql(name="airbnb",con=conn, if_exists="replace", index=False)

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

# Zillow DF to SQLite

In [36]:
# Store filepath in a variable
zillow = "Resources/cleaned_zillow.csv"

In [37]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zillow_df = pd.read_csv(zillow, encoding="ISO-8859-1")
zillow_df.head()

,Unnamed: 0,Address,City,Zipcode,bathrooms,bedrooms,daysOnZillow,homeType,latitude,livingArea,longitude,lotSize,date_sold,price,priceHistory/0/pricePerSquareFoot,rentZestimate,taxAssessedValue,taxAssessedYear,url,yearBuilt
0,0,2860 NE Blossom Hill Rd,Fairview,97024,3.0,3.0,25.0,TOWNHOUSE,45.543571,1806.0,-122.441765,1555.0,2021-05-21,315400,175.0,1950.0,273960.0,2020-01-01,https://www.zillow.com/homedetails/2860-NE-Blo...,2007-01-01
1,2,1121 SW 10th Dr,Gresham,97080,3.0,4.0,11.0,SINGLE_FAMILY,45.488228,2724.0,-122.444420,9583.0,2021-06-04,512000,188.0,1995.0,397560.0,2020-01-01,https://www.zillow.com/homedetails/1121-SW-10t...,1982-01-01
2,3,19309 NE Glisan St,Portland,97230,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
3,4,25-65 NW 20th St,Gresham,97030,3.0,6.0,14.0,APARTMENT,45.511238,2400.0,-122.431534,8545.0,2021-06-01,510000,213.0,1395.0,421980.0,2020-01-01,https://www.zillow.com/homedetails/25-65-NW-20...,1967-01-01
4,5,1518 SE 12th St,Gresham,97080,2.0,3.0,14.0,SINGLE_FAMILY,45.487991,1150.0,-122.416184,7000.0,2021-06-01,404200,351.0,1800.0,309260.0,2020-01-01,https://www.zillow.com/homedetails/1518-SE-12t...,1967-01-01

In [38]:
conn = sqlite3.connect("zillow.db")

In [39]:
zillow_df.to_sql(name="zillow",con=conn, if_exists="replace", index=False)

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

# Cleaned ARBNB DF to Postgres

,Unnamed: 0,listing_url,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,...,number_of_reviews_l30d,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,0,https://www.airbnb.com/rooms/12899,within an hour,100.0,100.0,1,0,Concordia,45.56488,-122.63418,...,1,2021-11-30,4.93,4.94,4.98,4.99,4.99,4.93,4.94,4.08
1,1,https://www.airbnb.com/rooms/37676,within a day,100.0,55.0,1,1,Pearl,45.52564,-122.68273,...,1,2021-12-01,4.88,4.86,4.86,4.83,4.77,4.94,4.66,0.91
2,2,https://www.airbnb.com/rooms/41601,within an hour,100.0,100.0,1,1,Roseway,45.54804,-122.58541,...,0,2021-10-13,4.84,4.90,4.90,4.95,4.92,4.67,4.83,1.76
3,4,https://www.airbnb.com/rooms/61893,within an hour,100.0,73.0,1,1,Goose Hollow,45.52258,-122.69955,...,1,2021-12-01,5.00,5.00,5.00,4.93,5.00,5.00,4.93,0.24
4,6,https://www.airbnb.com/rooms/67036,within a day,100.0,0.0,0,1,Sullivan's Gulch,45.53103,-122.64448,...,0,2020-02-27,4.93,5.00,5.00,5.00,5.00,4.79,4.89,0.23

In [22]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [23]:
engine = create_engine(db_string)

In [24]:
ARBNB_df.to_sql(name='airbnb', con=engine)

ValueError: Table 'airbnb' already exists.

# Cleaned ARBNB DF to SQLite

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

# Portland Neighborhoods and Zip to Postgres

In [39]:
# Store filepath in a variable
Zipcode = "Resources/Portland_Zip_and_Neighborhood.csv"

In [40]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zip_df = pd.read_csv(Zipcode, encoding="ISO-8859-1")
zip_df.head()

   Zip_Code  Neighborhood_Name
0     97212            Alameda
1     97217        Arbor Lodge
2     97222          Ardenwald
3     97230              Argay
4     97201  Arlington Heights

In [41]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [42]:
engine = create_engine(db_string)

In [43]:
zip_df.to_sql(name='neighborhoods', con=engine)

# Cleaned ZILLOW DF to Postgres

In [9]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zillow_df = pd.read_csv(zillow, encoding="ISO-8859-1")
zillow_df.head()

,Unnamed: 0,Address,City,Zipcode,bathrooms,bedrooms,daysOnZillow,homeType,latitude,livingArea,longitude,lotSize,date_sold,price,priceHistory/0/pricePerSquareFoot,rentZestimate,taxAssessedValue,taxAssessedYear,url,yearBuilt
0,0,2860 NE Blossom Hill Rd,Fairview,97024,3.0,3.0,25.0,TOWNHOUSE,45.543571,1806.0,-122.441765,1555.0,2021-05-21,315400,175.0,1950.0,273960.0,2020-01-01,https://www.zillow.com/homedetails/2860-NE-Blo...,2007-01-01
1,2,1121 SW 10th Dr,Gresham,97080,3.0,4.0,11.0,SINGLE_FAMILY,45.488228,2724.0,-122.444420,9583.0,2021-06-04,512000,188.0,1995.0,397560.0,2020-01-01,https://www.zillow.com/homedetails/1121-SW-10t...,1982-01-01
2,3,19309 NE Glisan St,Portland,97230,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
3,4,25-65 NW 20th St,Gresham,97030,3.0,6.0,14.0,APARTMENT,45.511238,2400.0,-122.431534,8545.0,2021-06-01,510000,213.0,1395.0,421980.0,2020-01-01,https://www.zillow.com/homedetails/25-65-NW-20...,1967-01-01
4,5,1518 SE 12th St,Gresham,97080,2.0,3.0,14.0,SINGLE_FAMILY,45.487991,1150.0,-122.416184,7000.0,2021-06-01,404200,351.0,1800.0,309260.0,2020-01-01,https://www.zillow.com/homedetails/1518-SE-12t...,1967-01-01

In [10]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [11]:
engine = create_engine(db_string)

In [12]:
zip_df.to_sql(name='zillow', con=engine)

NameError: name 'zip_df' is not defined

# Cleaned ZILLOW DF to SQLite

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,