In [19]:
# Dependencies
import pandas as pd
#pd.options.mode.chained_assignment = None  # default='warn'
import sqlite3

import json
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

# pull in postgres password
import sys
sys.path.append("C:/Users/laura/bootcamp/")
from api_keys import db_password

# Cleaned ARBNB DF to Postgres

In [20]:
# Store filepath in a variable
ARBNB = "Resources/cleaned_ARBNB.csv"

In [21]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
ARBNB_df = pd.read_csv(ARBNB, encoding="ISO-8859-1")
ARBNB_df.head()

,Unnamed: 0,listing_url,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,...,number_of_reviews_l30d,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,0,https://www.airbnb.com/rooms/12899,within an hour,100.0,100.0,1,0,Concordia,45.56488,-122.63418,...,1,2021-11-30,4.93,4.94,4.98,4.99,4.99,4.93,4.94,4.08
1,1,https://www.airbnb.com/rooms/37676,within a day,100.0,55.0,1,1,Pearl,45.52564,-122.68273,...,1,2021-12-01,4.88,4.86,4.86,4.83,4.77,4.94,4.66,0.91
2,2,https://www.airbnb.com/rooms/41601,within an hour,100.0,100.0,1,1,Roseway,45.54804,-122.58541,...,0,2021-10-13,4.84,4.90,4.90,4.95,4.92,4.67,4.83,1.76
3,4,https://www.airbnb.com/rooms/61893,within an hour,100.0,73.0,1,1,Goose Hollow,45.52258,-122.69955,...,1,2021-12-01,5.00,5.00,5.00,4.93,5.00,5.00,4.93,0.24
4,6,https://www.airbnb.com/rooms/67036,within a day,100.0,0.0,0,1,Sullivan's Gulch,45.53103,-122.64448,...,0,2020-02-27,4.93,5.00,5.00,5.00,5.00,4.79,4.89,0.23

In [22]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [23]:
engine = create_engine(db_string)

In [24]:
ARBNB_df.to_sql(name='airbnb', con=engine)

ValueError: Table 'airbnb' already exists.

# Cleaned ARBNB DF to SQLite

In [25]:
conn = sqlite3.connect("airbnb.db")

In [26]:
# create_sql="CREATE TABLE IF NOT EXISTS airbnb (host_response_rate FLOAT, host_is_superhost INTEGER)"
# cursor=conn.cursor()
# cursor.execute(create_sql)
ARBNB_df.to_sql(name="airbnb",con=conn, if_exists="replace", index=False)

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

# Portland Neighborhoods and Zip to Postgres

In [39]:
# Store filepath in a variable
Zipcode = "Resources/Portland_Zip_and_Neighborhood.csv"

In [40]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zip_df = pd.read_csv(Zipcode, encoding="ISO-8859-1")
zip_df.head()

   Zip_Code  Neighborhood_Name
0     97212            Alameda
1     97217        Arbor Lodge
2     97222          Ardenwald
3     97230              Argay
4     97201  Arlington Heights

In [41]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [42]:
engine = create_engine(db_string)

In [43]:
zip_df.to_sql(name='neighborhoods', con=engine)

# Cleaned ZILLOW DF to Postgres

In [44]:
# Store filepath in a variable
zillow = "Resources/cleaned_zillow.csv"

In [45]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zillow_df = pd.read_csv(zillow, encoding="ISO-8859-1")
zillow_df.head()

,Unnamed: 0,Address,City,Zipcode,bathrooms,bedrooms,dateSold,daysOnZillow,homeStatus,homeType,...,taxHistory/0/taxPaid,taxHistory/0/time,taxHistory/0/value,taxHistory/0/valueIncreaseRate,url,yearBuilt,zestimate,zestimateHighPercent,zestimateLowPercent,zpid
0,0,2860 NE Blossom Hill Rd,Fairview,97024,3.0,3.0,1.620000e+12,25.0,RECENTLY_SOLD,TOWNHOUSE,...,2989.74,1.590000e+12,172290.0,0.029950,https://www.zillow.com/homedetails/2860-NE-Blo...,2007.0,317406.0,5.0,5.0,72258538
1,1,20386 NE Mackenzie Ln,Fairview,97024,3.0,3.0,1.620000e+12,53.0,RECENTLY_SOLD,SINGLE_FAMILY,...,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/20386-NE-Ma...,2001.0,NaN,NaN,NaN,2073593774
2,2,1121 SW 10th Dr,Gresham,97080,3.0,4.0,1.620000e+12,11.0,RECENTLY_SOLD,SINGLE_FAMILY,...,5178.62,1.590000e+12,282340.0,0.029987,https://www.zillow.com/homedetails/1121-SW-10t...,1982.0,512355.0,5.0,5.0,53959026
3,3,19309 NE Glisan St,Portland,97230,1.0,3.0,1.620000e+12,11.0,RECENTLY_SOLD,SINGLE_FAMILY,...,2420.36,1.500000e+12,142330.0,0.029959,https://www.zillow.com/homedetails/19309-NE-Gl...,1953.0,NaN,NaN,NaN,176563865
4,4,25-65 NW 20th St,Gresham,97030,3.0,6.0,1.620000e+12,14.0,RECENTLY_SOLD,APARTMENT,...,2809.61,1.590000e+12,153180.0,0.029989,https://www.zillow.com/homedetails/25-65-NW-20...,1967.0,NaN,NaN,NaN,53819568

In [46]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [47]:
engine = create_engine(db_string)

In [48]:
zip_df.to_sql(name='zillow', con=engine)

# Cleaned ZILLOW DF to SQLite

In [49]:
conn = sqlite3.connect("zillow.db")

In [50]:
zillow_df.to_sql(name="zillow",con=conn, if_exists="replace", index=False)

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,