In [177]:
# Dependencies
import pandas as pd
#pd.options.mode.chained_assignment = None  # default='warn'
import sqlite3
import json
import numpy as np
import re
import psycopg2


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

# Cleaned ARBNB DF to SQLite

In [178]:
# Store filepath in a variable
ARBNB = "Resources/cleaned_ARBNB.csv"

In [179]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
ARBNB_df = pd.read_csv(ARBNB, encoding="ISO-8859-1")
ARBNB_df.head()

,listing_url,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,room_type,...,number_of_reviews_l30d,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,https://www.airbnb.com/rooms/12899,within an hour,100.0,100.0,1,0,Concordia,45.56488,-122.63418,Entire home/apt,...,1,2021-11-30,4.93,4.94,4.98,4.99,4.99,4.93,4.94,4.08
1,https://www.airbnb.com/rooms/37676,within a day,100.0,55.0,1,1,Pearl,45.52564,-122.68273,Entire home/apt,...,1,2021-12-01,4.88,4.86,4.86,4.83,4.77,4.94,4.66,0.91
2,https://www.airbnb.com/rooms/41601,within an hour,100.0,100.0,1,1,Roseway,45.54804,-122.58541,Entire home/apt,...,0,2021-10-13,4.84,4.90,4.90,4.95,4.92,4.67,4.83,1.76
3,https://www.airbnb.com/rooms/61893,within an hour,100.0,73.0,1,1,Goose Hollow,45.52258,-122.69955,Entire home/apt,...,1,2021-12-01,5.00,5.00,5.00,4.93,5.00,5.00,4.93,0.24
4,https://www.airbnb.com/rooms/67036,within a day,100.0,0.0,0,1,Sullivan's Gulch,45.53103,-122.64448,Entire home/apt,...,0,2020-02-27,4.93,5.00,5.00,5.00,5.00,4.79,4.89,0.23

In [181]:
# Store filepath in a variable
ARBNB_google_api = "Resources/cleaned_ARBNB.csv"

# Cleaned Neighborhood DF to SQLite

In [182]:
# Store filepath in a variable
neighborhood = "Resources/Portland_Zip_and_Neighborhood.csv"

In [183]:
neighborhood_df = pd.read_csv(neighborhood, encoding="ISO-8859-1")
neighborhood_df.head()

   Zipcode  Neighborhood_Name
0    97212            Alameda
1    97217        Arbor Lodge
2    97222          Ardenwald
3    97230              Argay
4    97201  Arlington Heights

In [184]:
##no longer needed - need 1 DB with 3 tables in order to do the join not 3 DBs
# conn = sqlite3.connect("neighborhood.db")

In [185]:
##no longer needed - need 1 DB with 3 tables in order to do the join not 3 DBs

## cursor.execute(create_sql)
# neighborhood_df.to_sql(name="neighborhood",con=conn, if_exists="replace", index=False)

# Zillow DF to SQLite

In [186]:
# Store filepath in a variable
zillow = "Resources/cleaned_zillow.csv"

In [187]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zillow_df = pd.read_csv(zillow, encoding="ISO-8859-1")
zillow_df.head()

,Address,City,Zipcode,bathrooms,bedrooms,daysOnZillow,homeType,latitude,livingArea,longitude,lotSize,date_sold,price,pricePerSquareFoot,rentZestimate,taxAssessedValue,taxAssessedYear,url,yearBuilt
0,2860 NE Blossom Hill Rd,Fairview,97024,3.0,3.0,25.0,TOWNHOUSE,45.543571,1806.0,-122.441765,1555.0,2021-05-21,315400,175.0,1950.0,273960.0,2020-01-01,https://www.zillow.com/homedetails/2860-NE-Blo...,2007-01-01
1,1121 SW 10th Dr,Gresham,97080,3.0,4.0,11.0,SINGLE_FAMILY,45.488228,2724.0,-122.444420,9583.0,2021-06-04,512000,188.0,1995.0,397560.0,2020-01-01,https://www.zillow.com/homedetails/1121-SW-10t...,1982-01-01
2,19309 NE Glisan St,Portland,97230,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
3,1518 SE 12th St,Gresham,97080,2.0,3.0,14.0,SINGLE_FAMILY,45.487991,1150.0,-122.416184,7000.0,2021-06-01,404200,351.0,1800.0,309260.0,2020-01-01,https://www.zillow.com/homedetails/1518-SE-12t...,1967-01-01
4,110 NW Willowbrook Ct,Gresham,97030,2.0,3.0,25.0,SINGLE_FAMILY,45.498184,2036.0,-122.451332,6969.0,2021-05-21,478200,235.0,2250.0,373030.0,2020-01-01,https://www.zillow.com/homedetails/110-NW-Will...,1978-01-01

In [188]:
##no longer needed - need 1 DB with 3 tables in order to do the join not 3 DBs

#conn = sqlite3.connect("zillow.db")

In [189]:
##no longer needed - need 1 DB with 3 tables in order to do the join not 3 DBs

#zillow_df.to_sql(name="zillow",con=conn, if_exists="replace", index=False)

# One Database with Multiple Tables

In [195]:
engine = create_engine('sqlite:///finalprojectdatabase.db', echo=True)
sqlite_connection = engine.connect()

In [197]:
sqlite_table = "arbnb"
ARBNB_df.to_sql(sqlite_table, sqlite_connection, if_exists='replace', index=False)

2022-04-19 12:15:02,360 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("arbnb")
2022-04-19 12:15:02,361 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,362 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("arbnb")
2022-04-19 12:15:02,363 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,363 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-04-19 12:15:02,364 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,365 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("arbnb")
2022-04-19 12:15:02,365 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,368 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:02,368 INFO sqlalchemy.engine.Engine [raw sql] ('arbnb',)
2022-04-19 12:15:02,369 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("arbnb")
2022-04-19 12:15:02,369 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,370 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("arbnb")
2022-04-19 12:15:02,370 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,371 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:02,371 INFO sqlalchemy.engine.Engine [raw sql] ('arbnb',)
2022-04-19 12:15:02,372 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("arbnb")
2022-04-19 12:15:02,372 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,373 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_arbnb_index")
2022-04-19 12:15:02,373 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,374 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("arbnb")
2022-04-19 12:15:02,374 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,375 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_arbnb_index")
2022-04-19 12:15:02,375 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:02,376 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:02,376 INFO sqlalchemy.engine.Engine [raw sql] ('arbnb',)
2022-04-19 12:15:02,377 INFO sqlalchemy.engine.Engine
DROP TABLE arbnb
2022-04-19 12:15:02,378 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2022-04-19 12:15:02,382 INFO sqlalchemy.engine.Engine COMMIT
2022-04-19 12:15:02,385 INFO sqlalchemy.engine.Engine
CREATE TABLE arbnb (
	listing_url TEXT,
	host_response_time TEXT,
	host_response_rate FLOAT,
	host_acceptance_rate FLOAT,
	host_is_superhost BIGINT,
	host_identity_verified BIGINT,
	neighbourhood_cleansed TEXT,
	latitude FLOAT,
	longitude FLOAT,
	room_type TEXT,
	accommodates BIGINT,
	bathrooms FLOAT,
	bedrooms FLOAT,
	beds FLOAT,
	price FLOAT,
	minimum_nights BIGINT,
	maximum_nights BIGINT,
	number_of_reviews_l30d BIGINT,
	last_review TEXT,
	review_scores_rating FLOAT,
	review_scores_accuracy FLOAT,
	review_scores_cleanliness FLOAT,
	review_scores_checkin FLOAT,
	review_scores_communication FLOAT,
	review_scores_location FLOAT,
	review_scores_value FLOAT,
	reviews_per_month FLOAT
)


2022-04-19 12:15:02,386 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2022-04-19 12:15:02,390 INFO sqlalchemy.engine.Engine COMMIT
2022-04-19 12:15:02,394 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-19 12:15:02,464 INFO sqlalchemy.engine.Engine INSERT INTO arbnb (listing_url, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_identity_verified, neighbourhood_cleansed, latitude, longitude, room_type, accommodates, bathrooms, bedrooms, beds, price, minimum_nights, maximum_nights, number_of_reviews_l30d, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, reviews_per_month) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-19 12:15:02,465 INFO sqlalchemy.engine.Engine [generated in 0.06471s] (('https://www.airbnb.com/rooms/12899', 'within an hour', 100.0, 100.0, 1, 0, 'Concordia', 45.56488, -122.63418, 'Entire home/apt', 3, 1.0, 2.0, 2.0, 89.0, 3, 730, 1, '2021-11-30', 4.93, 4.94, 4.98, 4.99, 4.99, 4.93, 4.94, 4.08), ('https://www.airbnb.com/rooms/37676', 'within a day', 100.0, 55.0, 1, 1, 'Pearl', 45.52564, -122.68273, 'Entire home/apt', 3, 1.0, 1.0, 1.0, 14.0, 30, 730, 1, '2021-12-01', 4.88, 4.86, 4.86, 4.83, 4.77, 4.94, 4.66, 0.91), ('https://www.airbnb.com/rooms/41601', 'within an hour', 100.0, 100.0, 1, 1, 'Roseway', 45.54804, -122.58541, 'Entire home/apt', 2, 1.0, 1.0, 1.0, 129.0, 3, 29, 0, '2021-10-13', 4.84, 4.9, 4.9, 4.95, 4.92, 4.67, 4.83, 1.76), ('https://www.airbnb.com/rooms/61893', 'within an hour', 100.0, 73.0, 1, 1, 'Goose Hollow', 45.52258, -122.69955, 'Entire home/apt', 2, 1.0, 1.0, 1.0, 104.0, 30, 300, 1, '2021-12-01', 5.0, 5.0, 5.0, 4.93, 5.0, 5.0, 4.93, 0.24), ('https://www.airbnb.com/rooms/67036', 'within a day', 100.0, 0.0, 0, 1, "Sullivan's Gulch", 45.53103, -122.64448, 'Entire home/apt', 12, 2.0, 4.0, 5.0, 425.0, 4, 365, 0, '2020-02-27', 4.93, 5.0, 5.0, 5.0, 5.0, 4.79, 4.89, 0.23), ('https://www.airbnb.com/rooms/80357', 'within an hour', 100.0, 52.0, 1, 1, "Sullivan's Gulch", 45.53364, -122.63895, 'Entire home/apt', 2, 1.0, 1.0, 1.0, 9.0, 90, 365, 0, '2021-09-20', 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 0.02), ('https://www.airbnb.com/rooms/99355', 'within an hour', 100.0, 100.0, 1, 1, 'Irvington', 45.53836, -122.65159, 'Entire home/apt', 6, 1.5, 3.0, 3.0, 185.0, 1, 730, 1, '2021-11-28', 4.92, 4.89, 4.94, 4.97, 4.96, 4.96, 4.82, 1.8), ('https://www.airbnb.com/rooms/117969', 'within an hour', 100.0, 100.0, 1, 1, 'Richmond', 45.51022, -122.63088, 'Entire home/apt', 2, 1.0, 1.0, 1.0, 9.0, 2, 1125, 0, '2021-11-14', 4.87, 4.97, 4.9, 4.99, 4.98, 4.98, 4.88, 3.23)  ... displaying 10 of 2101 total bound parameter sets ...  ('https://www.airbnb.com/rooms/53649962', 'within an hour', 100.0, 100.0, 0, 1, 'Humboldt', 45.555252918994015, -122.66673548395418, 'Entire home/apt', 7, 2.5, 3.0, 3.0, 203.0, 2, 1125, 1, '2021-12-12', 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 1.0), ('https://www.airbnb.com/rooms/53704846', 'within a few hours', 100.0, 100.0, 0, 0, 'South Portland', 45.48548193697184, -122.67699842307744, 'Entire home/apt', 4, 2.5, 2.0, 2.0, 18.0, 2, 365, 1, '2021-12-19', 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 1.0))
2022-04-19 12:15:02,477 INFO sqlalchemy.engine.Engine COMMIT

In [198]:
sqlite_table2 = "neighborhood"
neighborhood_df.to_sql(sqlite_table2, sqlite_connection, if_exists='replace', index=False)

2022-04-19 12:15:11,729 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("neighborhood")
2022-04-19 12:15:11,730 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,730 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("neighborhood")
2022-04-19 12:15:11,730 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,730 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-04-19 12:15:11,730 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,730 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("neighborhood")
2022-04-19 12:15:11,730 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,734 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:11,735 INFO sqlalchemy.engine.Engine [raw sql] ('neighborhood',)
2022-04-19 12:15:11,735 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("neighborhood")
2022-04-19 12:15:11,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,736 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("neighborhood")
2022-04-19 12:15:11,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,737 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:11,737 INFO sqlalchemy.engine.Engine [raw sql] ('neighborhood',)
2022-04-19 12:15:11,738 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("neighborhood")
2022-04-19 12:15:11,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,738 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_neighborhood_index")
2022-04-19 12:15:11,739 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,739 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("neighborhood")
2022-04-19 12:15:11,740 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,740 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_neighborhood_index")
2022-04-19 12:15:11,741 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:11,741 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:11,742 INFO sqlalchemy.engine.Engine [raw sql] ('neighborhood',)
2022-04-19 12:15:11,742 INFO sqlalchemy.engine.Engine
DROP TABLE neighborhood
2022-04-19 12:15:11,743 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-04-19 12:15:11,746 INFO sqlalchemy.engine.Engine COMMIT
2022-04-19 12:15:11,747 INFO sqlalchemy.engine.Engine
CREATE TABLE neighborhood (
	"Zipcode" BIGINT,
	"Neighborhood_Name" TEXT
)


2022-04-19 12:15:11,748 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-04-19 12:15:11,751 INFO sqlalchemy.engine.Engine COMMIT
2022-04-19 12:15:11,752 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-19 12:15:11,753 INFO sqlalchemy.engine.Engine INSERT INTO neighborhood ("Zipcode", "Neighborhood_Name") VALUES (?, ?)
2022-04-19 12:15:11,754 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ((97212, 'Alameda'), (97217, 'Arbor Lodge'), (97222, 'Ardenwald'), (97230, 'Argay'), (97201, 'Arlington Heights'), (97219, 'Arnold Creek'), (97219, 'Ash Creek'), (97212, 'Beaumont-Wilshire')  ... displaying 10 of 113 total bound parameter sets ...  (97211, 'Woodlawn'), (97206, 'Woodstock'))
2022-04-19 12:15:11,755 INFO sqlalchemy.engine.Engine COMMIT

In [199]:
sqlite_table3 = 'zillow'
zillow_df.to_sql(sqlite_table3, sqlite_connection, if_exists='replace', index=False)

2022-04-19 12:15:15,405 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("zillow")
2022-04-19 12:15:15,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,407 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("zillow")
2022-04-19 12:15:15,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,408 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-04-19 12:15:15,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,409 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("zillow")
2022-04-19 12:15:15,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,412 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:15,412 INFO sqlalchemy.engine.Engine [raw sql] ('zillow',)
2022-04-19 12:15:15,413 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("zillow")
2022-04-19 12:15:15,413 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,414 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("zillow")
2022-04-19 12:15:15,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,415 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:15,415 INFO sqlalchemy.engine.Engine [raw sql] ('zillow',)
2022-04-19 12:15:15,416 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("zillow")
2022-04-19 12:15:15,416 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,417 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_zillow_index")
2022-04-19 12:15:15,417 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,418 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("zillow")
2022-04-19 12:15:15,418 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,419 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_zillow_index")
2022-04-19 12:15:15,419 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-19 12:15:15,420 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-19 12:15:15,420 INFO sqlalchemy.engine.Engine [raw sql] ('zillow',)
2022-04-19 12:15:15,421 INFO sqlalchemy.engine.Engine
DROP TABLE zillow
2022-04-19 12:15:15,421 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2022-04-19 12:15:15,430 INFO sqlalchemy.engine.Engine COMMIT
2022-04-19 12:15:15,433 INFO sqlalchemy.engine.Engine
CREATE TABLE zillow (
	"Address" TEXT,
	"City" TEXT,
	"Zipcode" BIGINT,
	bathrooms FLOAT,
	bedrooms FLOAT,
	"daysOnZillow" FLOAT,
	"homeType" TEXT,
	latitude FLOAT,
	"livingArea" FLOAT,
	longitude FLOAT,
	"lotSize" FLOAT,
	date_sold TEXT,
	price BIGINT,
	"pricePerSquareFoot" FLOAT,
	"rentZestimate" FLOAT,
	"taxAssessedValue" FLOAT,
	"taxAssessedYear" TEXT,
	url TEXT,
	"yearBuilt" TEXT
)


2022-04-19 12:15:15,434 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2022-04-19 12:15:15,437 INFO sqlalchemy.engine.Engine COMMIT
2022-04-19 12:15:15,451 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-19 12:15:15,854 INFO sqlalchemy.engine.Engine INSERT INTO zillow ("Address", "City", "Zipcode", bathrooms, bedrooms, "daysOnZillow", "homeType", latitude, "livingArea", longitude, "lotSize", date_sold, price, "pricePerSquareFoot", "rentZestimate", "taxAssessedValue", "taxAssessedYear", url, "yearBuilt") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-19 12:15:15,854 INFO sqlalchemy.engine.Engine [generated in 0.37668s] (('2860 NE Blossom Hill Rd', 'Fairview', 97024, 3.0, 3.0, 25.0, 'TOWNHOUSE', 45.54357147, 1806.0, -122.4417648, 1555.0, '2021-05-21', 315400, 175.0, 1950.0, 273960.0, '2020-01-01', 'https://www.zillow.com/homedetails/2860-NE-Blossom-Hill-Rd-Fairview-OR-97024/72258538_zpid/', '2007-01-01'), ('1121 SW 10th Dr', 'Gresham', 97080, 3.0, 4.0, 11.0, 'SINGLE_FAMILY', 45.48822784, 2724.0, -122.4444199, 9583.0, '2021-06-04', 512000, 188.0, 1995.0, 397560.0, '2020-01-01', 'https://www.zillow.com/homedetails/1121-SW-10th-Dr-Gresham-OR-97080/53959026_zpid/', '1982-01-01'), ('19309 NE Glisan St', 'Portland', 97230, 1.0, 3.0, 11.0, 'SINGLE_FAMILY', 45.52663422, 1217.0, -122.4640884, 13939.0, '2021-06-04', 348000, 286.0, 1695.0, 269520.0, '2017-01-01', 'https://www.zillow.com/homedetails/19309-NE-Glisan-St-Portland-OR-97230/176563865_zpid/', '1953-01-01'), ('1518 SE 12th St', 'Gresham', 97080, 2.0, 3.0, 14.0, 'SINGLE_FAMILY', 45.48799133, 1150.0, -122.4161835, 7000.0, '2021-06-01', 404200, 351.0, 1800.0, 309260.0, '2020-01-01', 'https://www.zillow.com/homedetails/1518-SE-12th-St-Gresham-OR-97080/53963177_zpid/', '1967-01-01'), ('110 NW Willowbrook Ct', 'Gresham', 97030, 2.0, 3.0, 25.0, 'SINGLE_FAMILY', 45.4981842, 2036.0, -122.4513321, 6969.0, '2021-05-21', 478200, 235.0, 2250.0, 373030.0, '2020-01-01', 'https://www.zillow.com/homedetails/110-NW-Willowbrook-Ct-Gresham-OR-97030/53978110_zpid/', '1978-01-01'), ('3569 SW Mckinley St', 'Gresham', 97080, 3.0, 3.0, 41.0, 'SINGLE_FAMILY', 45.47535324, 2209.0, -122.4683075, 5227.0, '2021-05-05', 550000, 249.0, 2300.0, 453610.0, '2020-01-01', 'https://www.zillow.com/homedetails/3569-SW-Mckinley-St-Gresham-OR-97080/176566127_zpid/', '2017-01-01'), ('19830 SE Pine St', 'Portland', 97233, 2.0, 3.0, 76.0, 'SINGLE_FAMILY', 45.5201416, 1248.0, -122.4579391, 7840.0, '2021-03-31', 380000, 304.0, 1895.0, 293990.0, '2020-01-01', 'https://www.zillow.com/homedetails/19830-SE-Pine-St-Portland-OR-97233/53850713_zpid/', '1968-01-01'), ('705 NE 18th Ct', 'Gresham', 97030, 1.0, 3.0, 75.0, 'SINGLE_FAMILY', 45.51000214, 1288.0, -122.4231567, 9147.0, '2021-04-01', 330000, 256.0, 1895.0, 323820.0, '2020-01-01', 'https://www.zillow.com/homedetails/705-NE-18th-Ct-Gresham-OR-97030/53969688_zpid/', '1969-01-01')  ... displaying 10 of 18265 total bound parameter sets ...  ('7275 SW Palmer Way', 'Beaverton', 97007, 3.0, 4.0, 364.0, 'SINGLE_FAMILY', 45.46719742, 2176.0, -122.829628, 9583.0, '2020-07-20', 615000, 283.0, 2495.0, 447330.0, '2019-01-01', 'https://www.zillow.com/homedetails/7275-SW-Palmer-Way-Beaverton-OR-97007/48547614_zpid/', '1974-01-01'), ('6655 SW 67th Ave', 'Portland', 97223, 3.0, 4.0, 328.0, 'SINGLE_FAMILY', 45.47176743, 2615.0, -122.7468796, 15681.0, '2020-08-25', 585000, 224.0, 3521.0, 554140.0, '2019-01-01', 'https://www.zillow.com/homedetails/6655-SW-67th-Ave-Portland-OR-97223/48584625_zpid/', '1959-01-01'))
2022-04-19 12:15:15,950 INFO sqlalchemy.engine.Engine COMMIT

In [200]:
con = sqlite3.connect("finalprojectdatabase.db")
df = pd.read_sql_query("SELECT * from zillow", con)
df

,Address,City,Zipcode,bathrooms,bedrooms,daysOnZillow,homeType,latitude,livingArea,longitude,lotSize,date_sold,price,pricePerSquareFoot,rentZestimate,taxAssessedValue,taxAssessedYear,url,yearBuilt
0,2860 NE Blossom Hill Rd,Fairview,97024,3.0,3.0,25.0,TOWNHOUSE,45.543571,1806.0,-122.441765,1555.0,2021-05-21,315400,175.0,1950.0,273960.0,2020-01-01,https://www.zillow.com/homedetails/2860-NE-Blo...,2007-01-01
1,1121 SW 10th Dr,Gresham,97080,3.0,4.0,11.0,SINGLE_FAMILY,45.488228,2724.0,-122.444420,9583.0,2021-06-04,512000,188.0,1995.0,397560.0,2020-01-01,https://www.zillow.com/homedetails/1121-SW-10t...,1982-01-01
2,19309 NE Glisan St,Portland,97230,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
3,1518 SE 12th St,Gresham,97080,2.0,3.0,14.0,SINGLE_FAMILY,45.487991,1150.0,-122.416184,7000.0,2021-06-01,404200,351.0,1800.0,309260.0,2020-01-01,https://www.zillow.com/homedetails/1518-SE-12t...,1967-01-01
4,110 NW Willowbrook Ct,Gresham,97030,2.0,3.0,25.0,SINGLE_FAMILY,45.498184,2036.0,-122.451332,6969.0,2021-05-21,478200,235.0,2250.0,373030.0,2020-01-01,https://www.zillow.com/homedetails/110-NW-Will...,1978-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18260,7210 SW 156th Ave,Beaverton,97007,2.0,3.0,360.0,SINGLE_FAMILY,45.467113,1752.0,-122.837746,9147.0,2020-07-24,410000,234.0,2462.0,402690.0,2019-01-01,https://www.zillow.com/homedetails/7210-SW-156...,1991-01-01
18261,7050 SW 152nd Ave,Beaverton,97007,2.0,3.0,360.0,SINGLE_FAMILY,45.468781,1924.0,-122.833855,14374.0,2020-07-24,485000,252.0,2562.0,410120.0,2019-01-01,https://www.zillow.com/homedetails/7050-SW-152...,1981-01-01
18262,7600 SW Erica Pl,Beaverton,97008,2.0,3.0,363.0,SINGLE_FAMILY,45.465111,1378.0,-122.808701,10018.0,2020-07-21,415000,301.0,2495.0,386050.0,2019-01-01,https://www.zillow.com/homedetails/7600-SW-Eri...,1977-01-01
18263,7275 SW Palmer Way,Beaverton,97007,3.0,4.0,364.0,SINGLE_FAMILY,45.467197,2176.0,-122.829628,9583.0,2020-07-20,615000,283.0,2495.0,447330.0,2019-01-01,https://www.zillow.com/homedetails/7275-SW-Pal...,1974-01-01
18264,6655 SW 67th Ave,Portland,97223,3.0,4.0,328.0,SINGLE_FAMILY,45.471767,2615.0,-122.746880,15681.0,2020-08-25,585000,224.0,3521.0,554140.0,2019-01-01,https://www.zillow.com/homedetails/6655-SW-67t...,1959-01-01

In [201]:
#merge tables zillow and neighborhood to get neighborhood name

# con = sqlite3.connect("finalprojectdatabase.db")
# df2 = pd.read_sql_query("SELECT zillow.Address, zillow.City, zillow.Zipcode, neighborhood.Neighborhood_Name, zillow.bathrooms, zillow.bedrooms, zillow.daysOnZillow, zillow.homeType, zillow.latitude, zillow.livingArea,zillow.longitude, zillow.lotSize, zillow.date_sold, zillow.price, zillow.priceHistory/0/pricePerSquareFoot, zillow.rentZestimate, zillow.taxAssessedValue, zillow.taxAssessedYear, zillow.url, zillow.yearBuilt FROM zillow INNER JOIN neighborhood ON zillow.Zipcode = neighborhood.Zip_Code;", con)
# df2

 
# Connect to SQLite database
conn = sqlite3.connect("finalprojectdatabase.db")
  
# Create cursor object - needed to fetch the records from the database
cursor = conn.cursor()
  
# # Query for INNER JOIN
sql='''CREATE TABLE zillow_neighborhood AS
    SELECT zillow.Address, 
    zillow.City, 
    zillow.Zipcode, 
    neighborhood.Neighborhood_Name, 
    zillow.bathrooms, 
    zillow.bedrooms, 
    zillow.daysOnZillow, 
    zillow.homeType,  
    zillow.latitude,  
    zillow.livingArea, 
    zillow.longitude, 
    zillow.lotSize,  
    zillow.date_sold,  
    zillow.price,  
    zillow.pricePerSquareFoot,  
    zillow.rentZestimate,  
    zillow.taxAssessedValue,  
    zillow.taxAssessedYear,  
    zillow.url,  
    zillow.yearBuilt
FROM zillow 
INNER JOIN neighborhood
ON zillow.Zipcode = neighborhood.Zipcode;'''

# Executing the query - helps execute the query and return records according to the query
cursor.execute(sql)
  
# Fetching rows from the result table
# result = cursor.fetchall()
# for row in result:
#     print(row)

    
# # Closing the connection
conn.close()



# # Import required libraries
# import sqlite3
  
# # Connect to SQLite database
# conn = sqlite3.connect(r'C:\Users\SQLite\Geeks.db')
  
# # Create cursor object
# cursor = conn.cursor()
  
# # Query for INNER JOIN
# sql = '''SELECT StudentID, StudentName, AdvisorName 
# FROM Student 
# INNER JOIN Advisor
# ON Student.AdvisorID = Advisor.AdvisorID;'''
  
# # Executing the query
# cursor.execute(sql)
  
# # Fetching rows from the result table
# result = cursor.fetchall()
# for row in result:
#     print(row)
  
# # Closing the connection
# conn.close()

In [202]:
con = sqlite3.connect("finalprojectdatabase.db")
df2 = pd.read_sql_query("SELECT * from zillow_neighborhood", con)
df2

,Address,City,Zipcode,Neighborhood_Name,bathrooms,bedrooms,daysOnZillow,homeType,latitude,livingArea,longitude,lotSize,date_sold,price,pricePerSquareFoot,rentZestimate,taxAssessedValue,taxAssessedYear,url,yearBuilt
0,19309 NE Glisan St,Portland,97230,Argay,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
1,19309 NE Glisan St,Portland,97230,Glenfair,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
2,19309 NE Glisan St,Portland,97230,Hazelwood,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
3,19309 NE Glisan St,Portland,97230,Russell,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
4,19309 NE Glisan St,Portland,97230,Wilkes,1.0,3.0,11.0,SINGLE_FAMILY,45.526634,1217.0,-122.464088,13939.0,2021-06-04,348000,286.0,1695.0,269520.0,2017-01-01,https://www.zillow.com/homedetails/19309-NE-Gl...,1953-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39445,216 NW 117th Ave,Portland,97229,Northwest Heights,2.5,4.0,297.0,SINGLE_FAMILY,45.520996,2035.0,-122.797989,2614.0,2020-09-25,540000,265.0,2627.0,549020.0,2019-01-01,https://www.zillow.com/homedetails/216-NW-117t...,2012-01-01
39446,219 NW 117th Loop,Beaverton,97229,Forest Park,3.0,3.0,193.0,SINGLE_FAMILY,45.520420,1619.0,-122.798737,2178.0,2021-01-07,490000,303.0,2462.0,456670.0,2019-01-01,https://www.zillow.com/homedetails/219-NW-117t...,2012-01-01
39447,219 NW 117th Loop,Beaverton,97229,Northwest Heights,3.0,3.0,193.0,SINGLE_FAMILY,45.520420,1619.0,-122.798737,2178.0,2021-01-07,490000,303.0,2462.0,456670.0,2019-01-01,https://www.zillow.com/homedetails/219-NW-117t...,2012-01-01
39448,712 NW 118th Ave,Portland,97229,Forest Park,2.5,2.0,164.0,TOWNHOUSE,45.525494,1129.0,-122.796677,435.0,2021-02-05,358000,317.0,1864.0,317820.0,2019-01-01,https://www.zillow.com/homedetails/712-NW-118t...,2006-01-01
39449,712 NW 118th Ave,Portland,97229,Northwest Heights,2.5,2.0,164.0,TOWNHOUSE,45.525494,1129.0,-122.796677,435.0,2021-02-05,358000,317.0,1864.0,317820.0,2019-01-01,https://www.zillow.com/homedetails/712-NW-118t...,2006-01-01

In [ ]:
# #merge tables zillow and arbnb tables

# # con = sqlite3.connect("finalprojectdatabase.db")
# # df2 = pd.read_sql_query("SELECT zillow.Address, zillow.City, zillow.Zipcode, neighborhood.Neighborhood_Name, zillow.bathrooms, zillow.bedrooms, zillow.daysOnZillow, zillow.homeType, zillow.latitude, zillow.livingArea,zillow.longitude, zillow.lotSize, zillow.date_sold, zillow.price, zillow.priceHistory/0/pricePerSquareFoot, zillow.rentZestimate, zillow.taxAssessedValue, zillow.taxAssessedYear, zillow.url, zillow.yearBuilt FROM zillow INNER JOIN neighborhood ON zillow.Zipcode = neighborhood.Zip_Code;", con)
# # df2

 
# # Connect to SQLite database
# conn = sqlite3.connect("finalprojectdatabase.db")
  
# # Create cursor object - needed to fetch the records from the database
# cursor = conn.cursor()
  
# # # Query for INNER JOIN
# sql='''CREATE TABLE zillow_arbnb AS
#     SELECT * 
#     FROM zillow 
#     FULL OUTER JOIN arbnb 
#     ON zillow.column_name=arbnb.column_name;
# ON zillow.Zipcode = neighborhood.Zipcode;'''

# # Executing the query - helps execute the query and return records according to the query
# cursor.execute(sql)
  
# # Fetching rows from the result table
# # result = cursor.fetchall()
# # for row in result:
# #     print(row)

    
# # # Closing the connection
# conn.close()

# Cleaned ARBNB DF to Postgres

In [31]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [32]:
engine = create_engine(db_string)

In [33]:
ARBNB_df.to_sql(name='airbnb', con=engine)

ValueError: Table 'airbnb' already exists.

# Cleaned ARBNB DF to SQLite

# Portland Neighborhoods and Zip to Postgres

In [ ]:
# Store filepath in a variable
Zipcode = "Resources/Portland_Zip_and_Neighborhood.csv"

In [ ]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zip_df = pd.read_csv(Zipcode, encoding="ISO-8859-1")
zip_df.head()

In [ ]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [ ]:
engine = create_engine(db_string)

In [ ]:
zip_df.to_sql(name='neighborhoods', con=engine)

# Cleaned ZILLOW DF to Postgres

In [ ]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
zillow_df = pd.read_csv(zillow, encoding="ISO-8859-1")
zillow_df.head()

In [ ]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

In [ ]:
engine = create_engine(db_string)

In [ ]:
zip_df.to_sql(name='zillow', con=engine)

# Cleaned ZILLOW DF to SQLite