In [1]:
# Dependencies
import pandas as pd
#pd.options.mode.chained_assignment = None  # default='warn'
import sqlite3

# AirBNB DF from SQLite

In [3]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("airbnb.db")
df = pd.read_sql_query("SELECT * from airbnb", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

   Unnamed: 0                         listing_url host_response_time  \
0           0  https://www.airbnb.com/rooms/12899     within an hour
1           1  https://www.airbnb.com/rooms/37676       within a day
2           2  https://www.airbnb.com/rooms/41601     within an hour
3           4  https://www.airbnb.com/rooms/61893     within an hour
4           6  https://www.airbnb.com/rooms/67036       within a day

   host_response_rate  host_acceptance_rate  host_is_superhost  \
0               100.0                 100.0                  1
1               100.0                  55.0                  1
2               100.0                 100.0                  1
3               100.0                  73.0                  1
4               100.0                   0.0                  0

   host_identity_verified neighbourhood_cleansed  latitude  longitude  ...  \
0                       0              Concordia  45.56488 -122.63418  ...
1                       1                  Pearl  45.52564 -122.68273  ...
2                       1                Roseway  45.54804 -122.58541  ...
3                       1           Goose Hollow  45.52258 -122.69955  ...
4                       1       Sullivan's Gulch  45.53103 -122.64448  ...

  number_of_reviews_l30d  last_review  review_scores_rating  \
0                      1   2021-11-30                  4.93
1                      1   2021-12-01                  4.88
2                      0   2021-10-13                  4.84
3                      1   2021-12-01                  5.00
4                      0   2020-02-27                  4.93

   review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  \
0                    4.94                       4.98                   4.99
1                    4.86                       4.86                   4.83
2                    4.90                       4.90                   4.95
3                    5.00                       5.00                   4.93
4                    5.00                       5.00                   5.00

   review_scores_communication  review_scores_location  review_scores_value  \
0                         4.99                    4.93                 4.94
1                         4.77                    4.94                 4.66
2                         4.92                    4.67                 4.83
3                         5.00                    5.00                 4.93
4                         5.00                    4.79                 4.89

  reviews_per_month
0              4.08
1              0.91
2              1.76
3              0.24
4              0.23

[5 rows x 28 columns]